.nav {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-list {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}