.logo {
    color: #333;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.logo-text {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.logo-text a {
    text-decoration: none;
    color: #333;
}