.nav-item-list {
    list-style: none;
    display: inline-block;
}

.nav-item {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav-item:hover {
    background-color: #333;
    color: #fff;
}